
  body{

     background-image: url("logo.jpg");
     background-repeat: no-repeat;
     background-position-y: -200px;
  }


/*ventanas modales*/

  .modal-header, h4, .close {
      background-color:   #6B8E23;
      color:white !important;
      text-align: center;
      font-size: 25px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

  .navbar-inverse {
    height: 60px;
    position: relative;
    border: 3px solid;
    border-radius: ;
    background-color:#006400}

  .navbar-inverse .nav li .til{
  color: yellow;
  font-size: 16px;
}

  .navbar-inverse .nav li .til:hover{

    border: 0px solid;
    border-radius: 20px;
    background-color: black;
    color: white ;
}




  .navbar-inverse .nav li a:hover{

    border: 0px solid;
    border-radius: 20px;
    background-color: black;
    color: yellow ;


}


  .navbar-inverse .nav li a{
     border: 0px solid;
    border-radius: 20px;
    color: black;
    font-size: 12px;


  }

  .navbar-inverse .nav ul{
     border: 0px solid;
    border-radius: 20px;
    color: red;
    font-size: 12px;
    background-color: ;
  }



  #lv{

    border: 0px solid;
    border-radius: 0px;
    font-size: 24px;
    color: white;
    background-color: ;
  }

 .modal_contenido{
    border-radius: 15px;
  }

